<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#f60">
        <link rel="apple-touch-icon" href="/static/logo_apple">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel = "icon" href = "{{ url_for('static',filename='toplogo.png')}}" type = "image/x-icon">
        <link rel="manifest" href="static/manifest.json">
    </head>
    <body>
        <input type="image" src="{{url_for('static',filename='settings.png')}}" width="500" height="90" class="logo" onclick="window.open('/home','_self')">
        <div class="navebarside" id="navbar">
            <h4 class="header">Settings</h4>
            <br><br><br>
            <a id="navbar0" href="/settings">Settings</a>
            <a id="navbar1" href="/settings/appearance" class="navpick">Appearance</a>
            <a id="navbar2" href="/settings/time">Date and Time</a>
            <a id="navbar3" href="/settings/about">About</a>
        </div>
        <button id="name" class="profile" onclick="window.open('/home','_self')"></button>
        <form class="mode" method="post">
            <input class="mode2" type="submit" id="mode" name="mode" value="Light" onclick="getmode()">
        </from>
        <form>
           <input class="color" type="color" value="#ff6600">
        </form>
        <script>
            document.getElementById("color").addEventListener()
            name = {{name|tojson}};
            mode = {{mode|tojson}};
            if (mode == "Dark"){
            light()
            }
            else{
                dark()
            }
                
            console.log(name)
            document.getElementById("name").innerHTML = name
            function getmode() {
                if (mode == "dark"){
                    light()
                }
                else{
                    dark()
                }
            }
            function light() {
                mode = "light"
                document.getElementById("mode").value = "Dark"
                document.getElementById("mode").style.borderBottom = "1px solid #ff6600";
                document.getElementById("mode").style.color = "black";
                document.getElementById("navbar").style.color = "black";
                document.getElementById("navbar").style.background = "#c2c2c2";
                document.getElementById("navbar0").style.color = "black"
                document.getElementById("navbar1").style.color = "black"
                document.getElementById("navbar2").style.color = "black"
                document.getElementById("navbar3").style.color = "black"
                document.body.style.background = "#fff";
                document.body.style.color = "black";                
            }
            function dark() {
                mode = "dark"
                document.getElementById("mode").value = "Light"
                document.getElementById("mode").style.borderBottom = "1px solid #ff6600";
                document.getElementById("mode").style.color = "#fff";
                document.getElementById("navbar").style.color = "#fff";
                document.getElementById("navbar").style.background = "#292929";
                document.getElementById("navbar0").style.color = "#fff"
                document.getElementById("navbar1").style.color = "#fff"
                document.getElementById("navbar2").style.color = "#fff"
                document.getElementById("navbar3").style.color = "#fff"
                document.body.style.background = "#202124";
                document.body.style.color = "#fff";               
            }
        </script>
    
    </body>
</html>