<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#f60">
        <link rel="apple-touch-icon" href="/static/logo_apple">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel = "icon" href = "{{ url_for('static',filename='toplogo.png')}}" type = "image/x-icon">
        <link rel="manifest" href="static/manifest.json">
    </head>
    <body>
        <input type="image" src="{{url_for('static',filename='logo.png')}}" width="500" height="90" class="logo" onclick="window.open('/home','_self')">
        <button id="name" class="profile" onclick="window.open('/home','_self')"></button>
            <form class="makebug" method="post">
                <h2>Complete A Task</h2>
                <p><input class="title" type="num" name="id" list="none" maxlength="40" placeholder="Put Task ID Here" required autofocus></p>
                <p><input class="sumbmitbug" type="submit" value="Submit"></p>
            </form>
        <script>
            name = {{name|tojson}}
            console.log(name)
            document.getElementById("name").innerHTML = name
        </script>
        <style>
        </style>
    </body>
</html>